@charset "UTF-8";
body {
    margin: 1.5em;
    font-family: Calibri, Arial, '宋体', Sans-Serif;
    font-size: medium;
}
#header {
    width:100%;
    font-size: 40pt;
    font-style:italic;
}
#header #logo {
    position:relative;
    float:right;
}
#content {
    background-color: #E1EBF2;
}
a[href] {
    color: #000099;
    background-color: inherit;
    text-decoration: none;
}
a[href]:link,a[href]:visited {
}
a[href]:hover,a[href]:active {
    font-weight: bold
}
a.xref em {
    color: #000099;
}
p {
    text-align: justify;
}
img {
    border: 0;
    vertical-align: baseline;
}
dt {
    font-weight: bold;
}
div.toc span.preface, div.toc span.part {
    margin: 1em 0 0.5em 0;
    padding: 0.2em;
    font-weight: bolder;
    font-size: larger;
    display: block;
    background-color: #ADD8E6;
}
div.toc span.chapter {
    margin: 0.5em 0 0.2em 0;
    display: block;
}
div.table table, div.informaltable table {
    margin-left: 1.6em;
    width: 90%;
}
div.table th, div.informaltable th {
    text-align: left;
    font-weight: bolder;
}
div.table thead, div.informaltable thead {
    color: white;
    background-color: #004080;
}
div.table thead, div.informaltable thead, div.table tbody, div.informaltable tbody {
    vertical-align: top;
}
li p, td p, .titlepage p, .toc p {
    text-indent: 0em;
}
td p, td ul, td ol, td pre {
    margin: 0;
    padding: 0 0 0.6em 0;
}
.calloutlist table {
    width: 100%;
}
td ul, td ol {
    padding-left: 1em;
}
.title, .subtitle {
    font-family: Calibri, Arial, '黑体', Sans-Serif;
}
.author, .pubdate {
    text-align: right;
    font-size: small;
    margin: 0;
    padding: 0;
}
.subtitle em {
    color: black;
}
.figure .mediaobject, .figure .title, .informalfigure .mediaobject {
    text-align: center;
}
.figure img, .informalfigure img {
    max-width: 95%;
}
span.calloutno {
    font-family: Calibri, Arial, '黑体', Sans-Serif;
    font-size: medium;
}
em {
    color: red;
    background-color: inherit;
}
pre.programlisting, pre.screen, code {
    font-family: Consolas, "Courier New", Courier, monospace;
}
pre.programlisting, pre.screen {
    border: thin solid silver;
    background-color: #F4F4F4;
    padding: 6px;
    white-space: pre-wrap;
}
div.table td pre.programlisting, div.table td pre.screen, div.informaltable td pre.programlisting, div.informaltable td pre.screen {
    border: none;
    background-color: transparent;
    padding: 0;
    white-space: pre-wrap;
}
.variablelist span.term {
    font-weight: bolder;
    margin-top: 1em;
    display: block;
    color: navy;
}